# Database Configuration (PostgreSQL)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/library_db
PGUSER=postgres
PGHOST=localhost
PGDATABASE=library_db
PGPASSWORD=postgres
PGPORT=5432

# Physical Book Archives Directory
BOOKS_DIR=D:\Desktop\Archive\Books

# Port & Server Settings
PORT=9000

# Administrator & Mail Microservice Gateway
ADMIN_EMAIL=admin@vaultlibrary.org
SMTP_SENDER=notifications@vaultlibrary.org
MAIL_SERVICE_URL=http://127.0.0.1:8025
