<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <remove name="aspNetCore" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Reverse Proxy Rule: Route all inbound requests to local Next.js server on Port 9000 -->
        <rule name="ReverseProxyToNextJs" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:9000/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors existingResponse="PassThrough" />
    <security>
      <requestFiltering>
        <!-- Allow large PDF streaming up to 500MB -->
        <requestLimits maxAllowedContentLength="524288000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
