# SMTP Configuration for Gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SENDER=your_sender_email@gmail.com
ADMIN_RECEIVER=your_admin_email@gmail.com

# 16-character Google App Password (generate in Google Account -> Security -> 2-Step Verification -> App Passwords)
SMTP_PASSWORD=your_16_character_app_password
